.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-block-0 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.github-icons {
  vertical-align: middle;
  color: var(--primary-color);
  height: 1.25rem;
  width: 1.25rem;
}

.big-icons {
  width: 2rem;
  height: 2rem;
}

.button-primary {
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Comfortaa", cursive;
}

.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
}

.app-name {
  font-family: "Calligraffitti", cursive;
  font-weight: bold;
  font-size: xx-large;
  padding: 0.2rem 0.5rem;
  color: var(--primary-color);
}

.cursor-pointer {
  cursor: pointer;
}

.tags-div {
  gap: 2rem;
}

.post-details {
  align-items: flex-start;
  gap: 0.75rem;
}

.primary-color {
  color: var(--primary-color);
}
.gray-color {
  color: var(--gray-color);
}

.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 800;
}

.font-size-small {
  font-size: small;
}
