@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");

:root {
  --primary-color: #4338ca;
  --secondary-color: #e0e7ff;
  --gray-color: #9ca3af;
}

body {
  margin: 0.5rem;
  font-family: "Comfortaa", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
